# Environnement virtuel
venv/
.venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Variables d'environnement (clés API, secrets)
.env

# Base de données locale
*.db
instance/

# Éditeurs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.pytest_cache/
htmlcov/
.coverage

#log
app.log